<style type="text/css">
.pages {position:relative;width:700px;padding:10px 0px;background-color:#FFF;}
.num,.prev,.next,.current{width:60px;line-height:30px;display:inline-block;margin:0px 2px 0px 2px;text-align:center;}
.num,.prev,.next{color:#000;background-color:#eee;}
.current {color:#FFF;background-color:#008cba;}
.num:hover,.prev:hover,.next:hover{background-color:#008cba;color:#FFF;}
</style>

<div class="col-md-10">
	<a type="button" class="btn btn-default" href="{:U('Collectform/index')}" style="float:right;margin:15px 0px">修改配置</a>
	<table class="table table-hover" style="margin:0px">
		<tr>
			<th>名称</th>
			<th>类型</th>
			<th>URL</th>
			<th>匹配区域</th>
			<th>时间段</th>
		</tr>
		<foreach name="configData" item="config" >
			<tr>
				<td>{$config.name}</td>
				<if condition="($config['type'] eq 1)">
					<td>网页采集</td>
				<elseif condition="($config['type'] eq 2)"/>
					<td>自动生成</td>
				<else />
					<td>——</td>
				</if>
				
				<if condition="($config['page'] neq '')">
					<td>{$config.page}</td>
				<else />
					<td>——</td>
				</if>
				
				<if condition="($config['range_begin'] neq '')"> 
					<td>【{$config.range_begin}~{$config['range_begin']+$config['range_lenght']}】</td>
				<else />
					<td>——</td>
				</if>	
				<td>{$config.period_begin}~{$config.period_end}</td>
			</tr>
		</foreach>
	</table>
	<div class="pages">
		{$pageShow}
	</div>
</div>