<style type="text/css">
.pages {position:relative;width:700px;padding:10px 0px;background-color:#FFF;}
.num,.prev,.next,.current{width:60px;line-height:30px;display:inline-block;margin:0px 2px 0px 2px;text-align:center;}
.num,.prev,.next{color:#000;background-color:#eee;}
.current {color:#FFF;background-color:#008cba;}
.num:hover,.prev:hover,.next:hover{background-color:#008cba;color:#FFF;}
</style>

<div class="col-md-10">
	<a type="button" class="btn btn-default" href="{:U('Robotform/index')}" style="float:right;margin:15px 0px">新增配置</a>
	<table class="table table-hover" style="margin:0px">
		<tr>
			<th>游戏名称</th>
			<th>号码<br/>0-1</th>
			<th>号码<br/>2-3</th>
			<th>号码<br/>4-5</th>
			<th>号码<br/>6-7</th>
			<th>号码<br/>8-9</th>
			<th>号码<br/>10-11</th>
			<th>号码<br/>12-13</th>
			<th>号码<br/>14-15</th>
			<th>号码<br/>16-17</th>
			<th>号码<br/>18-19</th>
			<th>号码<br/>20-21</th>
			<th>号码<br/>22-23</th>
			<th>号码<br/>24-25</th>
			<th>号码<br/>26-27</th>
			<th>单<br/>双</th>
			<th>大<br/>小</th>
			<th>小单<br/>小双</th>
			<th>大单<br/>大双</th>
			<th>极大<br/>极小</th>
			<th>操作</th>
		</tr>
		<foreach name="configData" item="config" >
			<tr>
				<td>{$config["gamename"]}</td>
				<td>{$config["money0"]}<br/>{$config["money1"]}</td>
				<td>{$config["money2"]}<br/>{$config["money3"]}</td>
				<td>{$config["money4"]}<br/>{$config["money5"]}</td>
				<td>{$config["money6"]}<br/>{$config["money7"]}</td>
				<td>{$config["money8"]}<br/>{$config["money9"]}</td>
				<td>{$config["money10"]}<br/>{$config["money11"]}</td>
				<td>{$config["money12"]}<br/>{$config["money13"]}</td>
				<td>{$config["money14"]}<br/>{$config["money15"]}</td>
				<td>{$config["money16"]}<br/>{$config["money17"]}</td>
				<td>{$config["money18"]}<br/>{$config["money19"]}</td>
				<td>{$config["money20"]}<br/>{$config["money21"]}</td>
				<td>{$config["money22"]}<br/>{$config["money23"]}</td>
				<td>{$config["money24"]}<br/>{$config["money25"]}</td>
				<td>{$config["money26"]}<br/>{$config["money27"]}</td>
				<td>{$config["spmoney0"]}<br/>{$config["spmoney1"]}</td>
				<td>{$config["spmoney2"]}<br/>{$config["spmoney3"]}</td>
				<td>{$config["spmoney4"]}<br/>{$config["spmoney5"]}</td>
				<td>{$config["spmoney6"]}<br/>{$config["spmoney7"]}</td>
				<td>{$config["spmoney8"]}<br/>{$config["spmoney9"]}</td>
				<td><a href="{:U('Robotform/index', array('gamename'=>$config['gamename']))}">修改</a> <a href="{:U('Robot/del', array('gamename'=>$config['gamename']))}">删除</a></td>
			</tr>
		</foreach>
	</table>
	<div class="pages">
		{$pageShow}
	</div>
</div>