<style type="text/css">
.pages {position:relative;width:700px;padding:10px 0px;background-color:#FFF;}
.num,.prev,.next,.current{width:60px;line-height:30px;display:inline-block;margin:0px 2px 0px 2px;text-align:center;}
.num,.prev,.next{color:#000;background-color:#eee;}
.current {color:#FFF;background-color:#008cba;}
.num:hover,.prev:hover,.next:hover{background-color:#008cba;color:#FFF;}
</style>

<div class="col-md-10">
	<a type="button" class="btn btn-default" href="{:U('Fengkongform/index')}" style="float:right;margin:15px 0px">新增用户</a>
	<table class="table table-hover" style="margin:0px">
		<tr>
			<th>用户ID</th>
			<th>用户名称</th>
			<th>用户金额</th>
			<th>注册时间</th>
			<th>操作</th>
		</tr>
		<foreach name="userData" item="user" >
			<tr>
				<td>{$user["id"]}</td>
				<td>{$user["username"]}</td>
				<td>{$user["money"]}</td>
				<td>{$user["createtime"]}</td>
				<td><a href="{:U('Fengkong/del', array('userid'=>$user['id']))}">删除</a></td>
			</tr>
		</foreach>
	</table>
	<div class="pages">
		{$pageShow}
	</div>
</div>