<script>
function submitForm() {
	var information = document.getElementById("information");
	information.submit()
}
</script>

<div class="col-md-10">
	<a type="button" class="btn btn-default" href="{:U('Odds/index')}" style="float:right;margin:15px 0px">取消修改</a>
	<button type="button" class="btn btn-default" onclick="submitForm()" style="float:right;margin:15px 0px">保存配置</button>
	<div class="panel panel-default" style="margin:60px 0px">
		<div class="panel-body">
			<form id="information" enctype="multipart/form-data" action="{:U('Oddsform/save')}" method="post" role="form">
				<div class="form-group">
					<label>游戏名称：</label>
					<input type="text" class="form-control" name="gamename" placeholder="游戏名称" value="{$configData['gamename']}">
				</div>
				<label>号码0至5：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds0" placeholder="号码0" value="{$configData['odds0']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds1" placeholder="号码1" value="{$configData['odds1']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds2" placeholder="号码2" value="{$configData['odds2']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds3" placeholder="号码3" value="{$configData['odds3']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds4" placeholder="号码4" value="{$configData['odds4']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds5" placeholder="号码5" value="{$configData['odds5']}">
					</div>
				</div>
				<label>号码6至11：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds6" placeholder="号码6" value="{$configData['odds6']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds7" placeholder="号码7" value="{$configData['odds7']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds8" placeholder="号码8" value="{$configData['odds8']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds9" placeholder="号码9" value="{$configData['odds9']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds10" placeholder="号码10" value="{$configData['odds10']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds11" placeholder="号码11" value="{$configData['odds11']}">
					</div>
				</div>
				<label>号码12至17：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds12" placeholder="号码12" value="{$configData['odds12']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds13" placeholder="号码13" value="{$configData['odds13']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds14" placeholder="号码14" value="{$configData['odds14']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds15" placeholder="号码15" value="{$configData['odds15']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds16" placeholder="号码16" value="{$configData['odds16']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds17" placeholder="号码17" value="{$configData['odds17']}">
					</div>
				</div>
				<label>号码18至23：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds18" placeholder="号码18" value="{$configData['odds18']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds19" placeholder="号码19" value="{$configData['odds19']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds20" placeholder="号码20" value="{$configData['odds20']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds21" placeholder="号码21" value="{$configData['odds21']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds22" placeholder="号码22" value="{$configData['odds22']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds23" placeholder="号码23" value="{$configData['odds23']}">
					</div>
				</div>
				<label>号码24至27：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds24" placeholder="号码24" value="{$configData['odds24']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds25" placeholder="号码25" value="{$configData['odds25']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds26" placeholder="号码26" value="{$configData['odds26']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds27" placeholder="号码27" value="{$configData['odds27']}">
					</div>
				</div>
				<label>单、双、大、小：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds28" placeholder="单" value="{$configData['odds28']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds29" placeholder="双" value="{$configData['odds29']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds30" placeholder="大" value="{$configData['odds30']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds31" placeholder="小" value="{$configData['odds31']}">
					</div>
				</div>
				<label>小单、小双、大单、大双：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds32" placeholder="小单" value="{$configData['odds32']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds33" placeholder="小双" value="{$configData['odds33']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds34" placeholder="大单" value="{$configData['odds34']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds35" placeholder="大双" value="{$configData['odds35']}">
					</div>
				</div>
				<label>极大、极小：</label>
				<div class="row">
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds36" placeholder="极大" value="{$configData['odds36']}">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" name="odds37" placeholder="极小" value="{$configData['odds37']}">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>