<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>红包列表</title>
</head>
<body>
	<table>
		<tr><td><a>{$user['username']}</a> <a>{$user['money']}积分</a> <a href="{:U('Index/index', array('page'=>'publish'))}">发红包</a> <a href="{:U('Index/logout')}">退出</a></td></tr>
		
		<volist name="redpacketlist" id="redpacket" key="k">
			    <if condition="($redpacket.overtime eq 1)">
					<tr><td><a>{$k}、此红包已过期，无法领取！</a></td></tr>
				<else />
					<tr><td><a>{$k}、{$redpacket.username} 于 {$redpacket.createtime} 发了一个红包</a> <a href="{:U('Index/redPacket', array('redPacketId'=>$redpacket['id']))}">打开</a></td></tr>
				</if>
		</volist>
	</table>
</body>
</html>