<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>红包</title>
</head>
<body>
	<table>
		<tr><td><a>{$user['username']}</a> <a>{$user['money']}积分</a> <a href="{:U('Index/redPacketList')}">返回</a></td></tr>
		<tr><td><a>{$money}</a></td></tr>
		<tr><td><a>红包记录：</a></td></tr>
		
		<foreach name="redPacketDetail" item="item" key="k" >
		   <tr><td><a>{$k}、{$item['username']} 于 {$item['receiver_createtime']} 抢了{$item['receiver_money']}元</a></td></tr>
		</foreach>
	</table>
</body>
</html>